{{>header }}
{{!-- {{>navbar }} --}}

    <p>User: {{ name }}</p>
    <img class="profile" src="../img/{{ profileImage }}">

    <div>{{ body }}</div>
    <a href="/badlink">bad link test</a>

{{>footer }}