{{>header }}
{{!-- {{>navbar }} --}}

    <div class="blockMessage">
    <p>{{ helpMessage }}</p>

    <ul>
        <li><a href="/help/badlink">AAAAAHHHH - There's a rat attached to my computer!</a></li>
        <li><a href="/help/badlink">What does ctrl+alt+delete do?</a></li>
        <li><a href="/help/badlink">Is 'rona in the air?</a></li>
        <li><a href="/help/badlink">Flan recipes</a></li>
    </ul>
    </div>

{{>footer }}