{{>header }}
{{!-- {{>navbar }} --}}

    {{!-- <p>User: {{ name }}</p> --}}
    <p>{{ body }}</p>

    <form id="submitForm">
        <input id="searchValue" placeholder="Enter a location or address">
        <button type="submit">Search</button>
    </form>

    <p id="searchResults1"></p>
    <p id="searchResults2"></p>
    <p id="searchResults3"></p>

{{>footer }}