<!DOCTYPE html>
<html>
    <head>
        <title>{{ title }}</title>
        
        <link rel="icon" href="/static/img/weather.png">
        <link rel="stylesheet" href="/static/css/styles.css">
    </head>
    <body>
        <div class="main-content">  <!-- begin body class that creates sticky footer - flexbox! -->
        <header>
            <h1>{{ pageHeader }}</h1>
            <a href="/">Home</a>
            <a href="/about">About</a>
            <a href="/help">Help</a>
            <a href="/weather">Weather API</a>
            {{!-- <a href="/json">JSON</a> --}}
        </header>