{{!-- http://www.secondpicture.com/tutorials/web_design/css_ul_li_horizontal_css_menu.html --}}
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/help">Help</a></li>
            <li><a href="/weather">Weather API</a></li>
            {{!-- <li><a href="/json">JSON</a></li> --}}
        </ul>
